@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
/****************************  Variables ***********************/

:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warining:#ffbb55;
    --color-white:#fff;
    --color-into-dark:#7d8da1;
    --color-into-light:#dce1eb;
    --color-dark:#363949; 
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;
    --card-padding:1.8rem;
    --pading-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);

}
.dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528 ;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0,0,0,0);
    --box-shadow:0 2rem 3rem var(--color-light);
}
*{
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins ,sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;

    color: var(--color-dark);

}
.container{
    /* display: grid; */
    width: 100%;
margin: 0 auto;
gap: 1.8rem;
/* grid-template-columns: 14rem auto 23rem ; */
display: flex;
flex-direction: row;
  
  
}
.main{
    overflow-y: scroll;
}
a{
    color: var(--color-dark);

}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.84rem;
}

h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;

}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color:var(--color-into-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warining);
}

.customer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    




aside{
    height: 100vh;
    margin-left: 1rem;
    position: fixed;
}
aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 2rem;
}
aside .logo{
    display: flex; 
    gap:0.8rem;
    

}
aside .logo img{
width: 2rem;
height: 2rem;
}

aside .close{
    display: none;
}

/************** Aside Bar ************/

aside .sidebar{
    
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    padding-right: 1rem;
}

aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-into-dark);
    margin:0.5rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}


aside .sidebar  a span{
    font-size: 1.6rem;
    transition:  all 300ms ease;
}

aside .sidebar a:last-child{
    position: relative;
    bottom: -1rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);

}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);


}
aside .sidebar a:hover span{
margin-left: 1rem;

}
aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px ;
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--border-radius-1);
}


/****************************Mainn**************************/


.sales .middle h1{
    font-size: 20px;
}
.sales .middle{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap:5rem;
    margin: 0;
    width: 100%;
}

main{
    margin-top: 1.4rem;
    width: 100%;
    overflow-y: scroll;
    margin-left: 15rem;
}
main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type='date']
{
background: transparent;
color: var(--color-dark);

}
.month-earned select{
  padding: 0.5rem 0.5rem;
  background: var(--color-primary);
  color: var(--color-background);
  margin: 0rem 1rem;
  border: none;
  border-radius: var(--border-radius-1);
  margin-bottom: 1rem;
}
#ProductREF2{
    width: 100px;
    padding: 0.5rem 0.2rem;
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    color: var(--color-white);
    margin: 0rem 1rem;
    border: none;
    border-radius: var(--border-radius-1);
    margin: 0rem 0.5rem;
}
#ProductREF{
    padding: 0.5rem 0.5rem;
    background: var(--color-primary);
    color: var(--color-background);
    margin: 0rem 1rem;
    border: none;
    border-radius: var(--border-radius-1);
    margin: 0rem 0.5rem;
}

.sales select{
    padding: 0.5rem 0.5rem;
    background: var(--color-primary);
    color: var(--color-background);
    margin: 0rem 1rem;
    border: none;
    border-radius: var(--border-radius-1);
    margin-bottom: 1rem;
}
.month-earned{
    max-height: 380px;
    height: 350px;
    width: 630px;
    margin-right: 2rem;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    padding: 0.5rem 0.5rem;
}

.year-earned button{
    gap: 10px;
    padding: 0.5rem 0.5rem;
    background: var(--color-primary);
    color: var(--color-background);
    margin: 0rem 1rem;
    border: none;
    border-radius: var(--border-radius-1);
}
.year-earned{
    display: flex;
flex-direction: column;
    height: 350px;
    width: 650px;
    display: flex;
    margin-right: 2rem;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    padding: 0.5rem 0.5rem;
}
.months-earned{
    height: 350px;
    width: 300px;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    /* padding: 0.5rem 0.5rem; */
    
}
.order-stats{
    padding-top: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 350px;
    width: 300px;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

}
.bar-stats{
    height: 350px;
    width: 610px;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    padding: 1rem 2rem;
}
.Status-container{
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    gap:30px;
    /* align-items: center;
    justify-content: center; */
}
/********Recenet Order************/
.Status-container2{
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    gap:5px;
    /* align-items: center;
    justify-content: center; */
}
.Status-container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

main .hh {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
main .recent-order table{
    background: var(--color-white);
    width: 80vw;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transform: all 300ms ease;
 
 

}

table:hover{
    box-shadow: none;
}
main table  th{
    position: sticky;
    top: 0;
    background: var(--color-white);
    padding: 2rem 0;
}
main table tbody td span{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin: 1rem 0;
}
.sort p{
    font-size: 12px;
    font-weight:400;
    color: var(--color-dark);

}
.sort{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap:10px;
    margin-bottom: 1rem;
    margin-right: 1rem;

}
#readButton {

    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
input[type="file"] {
    display: none;
  }

  /* Style for the custom button */
  .custom-file-input {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }

  /* Style to visually hide the text next to the file input */
  .file-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
  }
#fileInput {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px
}
.sort .btn{
    font-size: 18px;
    padding: 7px 30px;
    color: var(--color-primary);;
    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main table tbody td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
main table tbody tr{
    margin: 1rem 0;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 0.5px solid var(--color-light);
    
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border-bottom: none;
}

main .recent-order a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    
}
/*********************************Right****************************/

.right{
    margin-top: 1.4rem;
}

.right .top{
display: flex;
justify-content: end;
gap: 2rem;
margin-right: 2rem;
}
.right .top button{
    display: none;
}

.right .theme-toggle{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggle span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right .theme-toggle span.active {
background-color: var(--color-primary);
color: white;
border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}







